{% extends 'sistema/base.html' %}
{% block content %}
    <table class="table">
        <tr>
            <td>
                <h2>{{ cliente.nome }}</h2>
                Username: {{ cliente.username }}<br/>
                CPF: {{ cliente.cpf }}<br/>
                Telefone: {{ cliente.telefone }}<br/>
                <h3>Cosultas:</h3>
                {% for consultas in cliente.consulta.all %}
                    Médico: {{ consultas.medico }}<br/>
                    Data: {{ consultas.data }}<br/>
                    <br>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'listar_agendas' %}">
                    <button type="button" class="btn btn-primary">Listar agendas médicas</button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'logout_usuario' %}">
                    <button type="button" class="btn btn-danger">SAIR</button>
                </a>
            </td>
        </tr>
    </table>
    
{% endblock %}