{% extends 'sistema/base.html' %}

{% block content %}

    <h1>Lista das nossas Agendas</h1>
    <table class="table">
    {% for agenda in agendas %}
        <tr>
            <td>
                <p><strong>Agenda: {{agenda.id}}</strong></p>
                {{agenda.medico}}<br>
                Especialidade: {{agenda.medico.especialidade}}<br>
                Disponível no dia: {{agenda.data}}<br>
                <td>
                    <a class="btn btn-default" href="{% url 'detalhar_agenda' id=agenda.id %}">
                        <button type="button" class="btn btn-primary">Detalhar</button>
                    </a>
                </td>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
