{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Mudança de senha{% endblock %}

{% block content %}
    <h2>Mudar senha</h2>
    <form method="POST" class="table" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="form-group">
            {{form|crispy}}
        </div>
        <button type="submit" class="save btn btn-success ">Salvar</button>
        <a href="javascript:history.back()"> 
            <button type="button" class="btn btn-outline-danger">Cancelar</button>
        </a>
    </form>
{% endblock %}