{% extends 'base.html' %}

{% block title %}Listagem especialidades{% endblock %}

{% block content %}
<div class="container d-flex justify-content-between">
    <h3>Lista de especialidades</h3>
    <div class="mb-3">
        <a href="/specialty/create/" class="text-primary" title="Adicionar especialidade">
            <button type="button" class="btn btn-success">Adicionar</button>
        </a>
    </div>
</div>
{% if not object_list %}
  <div class="alert alert-warning">
    Ops, nenhuma especialidade foi cadastrada ainda.
  </div>
{% else %}
    {% for specialty in object_list %}
    <div class="mb-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Especialidade: {{ specialty.name }}</h5>
            <a href="/specialty/update/{{ specialty.id }}/" class="btn btn-primary">Editar</a>
            <a href="/specialty/delete/{{ specialty.id }}/" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endblock %}
